{
  "openapi": "3.0.0",
  "info": {
    "title": "Номин Даатгал API",
    "version": "1.0.0",
    "description": "Номин ERP системээс даатгалын гэрээний мэдээлэл авах API."
  },
  "servers": [
    {
      "url": "https://ins.nomin.mn"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/Insurance/Auth": {
      "post": {
        "summary": "Хэрэглэгч нэвтрэх",
        "description": "Нэвтрэх нэр, нууц үг (body) болон өгөгдлийн сангийн нэр (query param) ашиглан API токен авах.",
        "parameters": [
          {
            "name": "db",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mw"
            },
            "description": "Холбогдох өгөгдлийн сан (жишээ нь: 'mw')."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "your_username"
                  },
                  "password": {
                    "type": "string",
                    "example": "your_password"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Амжилттай нэвтэрлээ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Дараагийн хүсэлтүүдэд ашиглах хандалтын токен"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Токен дуусах хугацаа (секундээр)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Зөвшөөрөлгүй",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Insurance/ContractSearch": {
      "get": {
        "summary": "Гэрээ хайх",
        "description": "Арлын дугаар (VIN), Улсын дугаар, эсвэл Регистрийн дугаараар даатгалын гэрээ хайх.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "SearchTypeID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            },
            "description": "1: VIN/Улсын дугаараар, 2: Регистрийн дугаараар"
          },
          {
            "name": "SearchValue",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Хайх утга (Жишээ нь: VIN '123ABC56', Улсын дугаар '5678UBA', эсвэл Регистр 'AA901010')"
          }
        ],
        "responses": {
          "200": {
            "description": "Даатгалын гэрээний жагсаалт",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContractNo": {
                        "type": "string"
                      },
                      "ProductName": {
                        "type": "string"
                      },
                      "BeginDate": {
                        "type": "string"
                      },
                      "EndDate": {
                        "type": "string"
                      },
                      "platenumber": {
                        "type": "string"
                      },
                      "VinNumber": {
                        "type": "string"
                      },
                      "StatusName": {
                        "type": "string"
                      },
                      "RegisterNo": {
                        "type": "string"
                      },
                      "ContractTypeID": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Зөвшөөрөлгүй - Токен буруу эсвэл хугацаа нь дууссан"
          },
          "400": {
            "description": "Буруу хүсэлт - Параметр дутуу эсвэл буруу"
          }
        }
      }
    }
  }
}